.card-title {
    text-align: center;
}

.card-img-top {
    padding: 5px; 
    margin: auto; 
    display: block;
    height: 150px;
    width: 150px;
}

.home-card {
    font-size: 11pt;
    min-height: 300px;
    margin: 5px;
}

